ErrorDocument 404 https://animanga.cf/
ErrorDocument 403 https://animanga.cf/
ErrorDocument 500 https://animanga.cf/

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) $1.php [L]